:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent1-color: #264653;
    --accent2-color: #68767a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--secondary-color);
    }

nav ul{
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2, h4 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

.socialmedia {
    display: flex;
    justify-content: end;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {  
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.9;
    color: var(--primary-color);
}

.hero h4 {
    text-align: center;
}

section.style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

form {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    margin-top: 1rem;
    padding: 2rem;
    width: 100%;
    gap: 0.5rem 1rem;
}
iframe{
    width: 100%;
    height: 400px;
}

.userinfo{
    display: contents;
   
}
.userinfo input{
    grid-column: 2/3;
}

.userinfo label{
    grid-column: 1/2;
    align-self: center;
    text-align: left;
}
.label{
    grid-column: 1;
    align-self: center;
    text-align: left;
}

.radios{
    grid-column: 2/3;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr ;
    align-items: center;

}


.text-area{
    grid-column: 1/-1;
    display: grid;
    
}
.checkboxes{
    grid-column: 1/3;
    display: flex;
    align-self: center;
    gap: 0.5rem;
}

input.form {
    grid-column: 1/-1;
}



h2 {
    background-color: var(--accent1-color);
    text-align: center;
    padding: 16px;
    color: var(--secondary-color);
}

section.employee{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    
}

section h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    grid-column: 1 / -1;
    text-align: center;
}

section figure{
    padding: 5%;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
}

section figure img{
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    
}
footer p {
    text-align: center;
}