:root {
    --primary-color: #055a05;
    --secondary-color: #213421;
    --accent1-color: #264653;
    --accent2-color: #68767a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    

    }
nav ul{
    background-color: var(--accent1-color);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}


body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;

}
h1, h2 {
    font-family: var(--heading-font);
    color: white;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia {
    display: flex;
    justify-content: end;
}
.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}
.hero article {
    background-color: var(--accent2-color);
    color: #fff;
    position: absolute;
    bottom: 0px;
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 80px;
}
.history{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    
}
.history img{
    grid-column: 2 / 3;
    width: 100%;
    height: auto;
}
.history h2{
   grid-column: 2 / 3;
   margin-bottom: 5px;

}
.history .first{
    grid-column: 1/2;
    grid-row: 2/ 3;
}
.history .second{
    grid-column: 3/4;
    grid-row: 2/3;

}
h2 {
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
    padding: 16px;
}section{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
section h2{
    grid-column: 1 / -1;
    text-align: center;
}
section figure img{
    padding: 5px;
    width: 100%;
    height: auto;
}
section figure{
    text-align: center;
}
