* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --heading-font-color : red;
    --title-background-color : linear-gradient(to left, tomato, black);

}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;

}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}


aside {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 70px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
    padding: 2px;
    float: right;
    margin: 0.5rem 0 1rem 1%;

}

p {
    margin: 2%;
    margin-bottom: 2rem;

}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--title-background-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10px;
    border: 1px;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    border-bottom: 1px solid;
    color: var(--heading-font-color);
    padding: 5px;
    font-size: 29.3px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

.indent {
    padding-left: 2rem;
}
