body {
    font-family: Arial, Helvetica, sans-serif;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px 0 1px 0;
    }
header {
    font-size: 1.25rem;
    }
footer {
    font-size: 0.85rem;
    }
section{
    background-color: lightgray;
    padding: 5px 10px;
    margin: 15px auto;
    }
main{
    margin: o auto;
    max-width: 600px;
    }
h2 {
    border-bottom: 1px solid black;
    }
picture img {
    box-shadow: 0 0 30px #333;
    max-width: 100%;
    height: auto;
    }
p {
    margin: 10px;
}
h1 {
    text-align: center;
}
    

